# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Push Notifications (VAPID)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BFdzdOXyait7dOVW9no1xZohwcmYTt9w9Zr5GzO28VzryJyBDIDxhnb_yS7UdCeyZKGEy3Mjgi4-GqUPPZySHzw
VAPID_PRIVATE_KEY=asexwqesANSJFboPJx2YZgJ_6Xxir40MtMq0Dmz0rZ0
